<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "classes" thread-count="2">
<parameter name = "test" value = "Test123"/>
<parameter name = "final" value = "Test12345"/>
<parameter name = "done" value = "Completed"/>
  <test thread-count="5" name="Test">
<groups>
<define name = "All">
<include name = "Sanity"/>
<include name = "Regression"/>
</define>
<run>
<include name = "All"/> 
</run>
</groups>

    <classes>
      <class name="trainingTestNG.ClassTest2"/>
      <class name="trainingTestNG.ClassTest1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
